<div class="post-project-container">
  <div class="post-project">
    <h3>Post an announcement</h3>
    <div class="post-project-fields">
      <form>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <input type="text" name="title" placeholder="Title">
          </div>
          <div class="col-lg-8 mx-auto">
            <textarea name="description" placeholder="Description"></textarea>
          </div>
          <div class="col-lg-8 mx-auto">
            <div>
              <input type="file" id="customFile" accept="image/*">
              <label class="custom-file-label" for="customFile">Choose image</label>
            </div>
          </div>
          <div class="col-lg-8 mx-auto">
            <ul class="list-unstyled d-flex justify-content-center">
              <li class="mx-2"><button class="active" type="submit" value="post">Post</button></li>
              <li class="mx-2"><a href="#" title="">Cancel</a></li>
            </ul>
          </div>
        </div>

      </form>
    </div><!--post-project-fields end-->
    <a href="#" title=""><i class="la la-times-circle-o"></i></a>
  </div><!--post-project end-->
</div>
