<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">

                <div class="row" style="height: 730px">
                    <div class="col-lg-3">
                        <div class="filter-secs">
                            <div class="filter-heading">
                                <h3>Filters</h3>
                                <a routerLink="/Events/list" title="">Clear all filters</a>
                            </div>
                            <div class="paddy">

                                <div class="filter-dd">
                                    <div class="filter-ttl">
                                        <h3>event Category</h3>
                                        <a routerLink="/Events/list" title="">Clear</a>
                                    </div>
                                    <div class="post-st">
                                        <ul>
                                            <li><a routerLink="/Events/list/Fair" title="">Fair</a></li>
                                            <li><a routerLink="/Events/list/Seminar" title="">Seminar</a></li>
                                            <li><a routerLink="/Events/list/Workshop" title="">Workshop</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="posts-section">
                                <div *ngIf="events.length === 0">
                                    <p>No events available at the moment.</p>
                                </div>
                                <div class="post-bar" *ngFor="let event of events; let i = index">
                                    <div class="post_topbar">
                                        <div class="ed-opts">
                                            <a [routerLink]="['/Events/details', event.label]" title=""
                                                class="ed-opts-open">
                                                <img src="assets/images/menu.png" alt="Ellipsis Image">
                                            </a>
                                            <ul class="ed-options">
                                                <li><a [routerLink]="['/Events/details', event.label]"
                                                        class="text-info">Details</a></li>




                                            </ul>
                                        </div>
                                        <!-- Add your options here -->
                                        <!-- ... -->
                                    </div>
                                    <div class="epi-sec">

                                    </div>
                                    <div class="event_desc">
                                        <h3 style="font-size: 24px; font-weight: bold;">{{ event.label }}</h3>
                                        <span class="badge badge-primary" style="margin-top: 10px;">{{ event.Slogan
                                            }}</span>
                                        <ul class="job-dt" style="margin-top: 10px; font-size: 12px;">
                                            <li><strong>Location:</strong> {{ event.location }}</li>
                                            <br>
                                            <br>
                                            <li>
                                                <span style="color: red;">!</span><span style="color: red;">!</span>
                                                Make sure to <strong>reserve</strong> your spot before: {{ event.Date }}
                                                <span style="color: red;">!</span><span style="color: red;">!</span>
                                            </li>
                                        </ul>
                                        <p>{{ event.Event_Content }}</p>
                                        <img class="w-48 mr-6 mb-6" src="{{event.event_Image}}" alt="">

                                        <ul class="skill-tags">
                                            <li>
                                                <a routerLink="#" title="">{{event.Category_event}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="right-sidebar">
                            <div class="widget widget-about">
                                <img src="wd-logo.png" alt="">
                                <h3>Connect, Engage, Succeed: Your Event, Your Impact!</h3>

                            </div>
                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Most Viewed This Week</h3>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
