.custom-go-back {
    text-decoration: none;
    background-color: #007bff; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.custom-go-back:hover {
    background-color: #0056b3; /* Change to the hover background color */
}
